@import '../styles/mixin.scss';

.text-title{
    font-weight: bold;
    letter-spacing: 9px;
    color: $color-green;
    @include font-size(30px);
    @media (max-width: $md){
        letter-spacing: 5px;
    }
}

.text-subtitle{
    font-weight: bold;
    letter-spacing: 7px;
    color: $color-green;
}

.text-title-white{
    font-weight: bold;
    letter-spacing: 9px;
    color: $color-white;
    @include font-size(30px);
    @media (max-width: $md){
        letter-spacing: 5px;
    }
}

.text-general{
    letter-spacing: 1.38px;
    color: $color-dark;
    @include font-size(16px);
    @media (max-width: $md){
        letter-spacing: 1px;
    }
}

.text-general-white{
    letter-spacing: 1.38px;
    color: $color-white;
    @include font-size(16px);
    @media (max-width: $md){
        letter-spacing: 1px;
    }
}

.card{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px $color-white;
    // clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 74% 85%, 40% 100%, 51% 85%, 0 85%);
    // clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
// .containerGif{
//     clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
//     @media (max-width: $md){
//         clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
//     }
// }

.send-info{
    input{
        border: solid 1px $color-grey!important;
        letter-spacing: 1px!important;
        font-size: 15px!important;
    }
}
.gifhome{
    width: 100%;
    height: 120%;
    @media (max-width: $lg){
        width: auto;
        height: 100vh;
        margin-left: -200px;
    }
}
.home-container{
    overflow: hidden;
    
    .imgStreet{
        width: 100%;
        object-fit: cover;
        object-position: center;
        vertical-align: middle;
    }
}
.iconcontainer{
    @include fluid-width($min_width, $max_width, 50px, 900px);
    @media (max-width: $lg){
        width: 100px;
    }
}
.formdiv{
    border: 3px solid $color-blue;
    border-radius: 10px;
    padding: 3em;
    @media (max-width: $md){
        padding: 1em;
    }
}
.text-small{
    color: $color-grey;
    @include fluid-type($min_width, $max_width, 10px, 18px);
}
.general-text{
    color: $color-blue;
}
.general-text-title{
    color: $color-blue;
    @include fluid-type($min_width, $max_width, 18px, 50px);
}
.general-text-white{
    color: $color-white;
}
.general-text-title-white{
    color: $color-white;
    @include fluid-type($min_width, $max_width, 18px, 50px);
}
.general-text-title-grey{
    color: $color-grey;
    @include fluid-type($min_width, $max_width, 18px, 50px);
}
.general-text-grey{
    color: $color-grey;
}
.general-text-green{
    color: $color-green;
}
.general-text-title-green{
    color: $color-green;
    @include fluid-type($min_width, $max_width, 18px, 70px);
}
.general-text-title-dark{
    color: $color-dark;
    @include fluid-type($min_width, $max_width, 18px, 70px);
}
.sectionblue{
    background-color: $color-blue;
    width: 100vw;
    ul {
        list-style-type: circle;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 900;
      }
    li{
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 200;
    }
}
.sectionblue{
    background-color: $color-light-grey;
    width: 100vw;

}
.sectionwhite{
    background-color: $color-white;
    width: 100vw;
}
.sectionhome{
    overflow: hidden;
    // background-image: url("/images/gif-tarjeta.gif");
    width: 100%;
    height: 100%;
    background-color: $color-white;
}

.subtittlegreen{
    color:$color-light-green;
    font-weight: bold; 
    @include font-size(40px);
    @include for-tablet {
        text-align: center;
            }
}

.subtittlegreen1{
    color:$color-light-green; 
    @include font-size(40px);
    @include for-tablet {
        text-align: center;
            }
}
