@import '../../styles/mixin.scss';

.containerInput{
    display: flex;
    justify-content: center;
    @include for-tablet {
        display: inline-block;
        width: 100%;
    }
}
.inputset{
    width: 50% ;
    @include for-tablet {
        width: 100%;
    }
}
.containerbutton{
    margin-left: 10px !important;

    @include for-tablet {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
.ibanLogo{
    width: 13rem;
}
.subtittle{
    color:$color-light-green;
    font-weight: bold; 
    @include font-size(40px);
    @include for-tablet {
        text-align: center;
            }
}